body {
  background: hsl(352, 67%, 72%);
  display: flex;
  justify-content: center;
  align-items: center; /* 确保内容垂直居中 */
  height: 100vh; /* 设置body的高度为视口高度 */
  margin: 0; /* 移除默认边距 */
}

#alice-container {
  width: 90vh; /* 容器宽度设置为视口高度的90% */
  height: 90vh; /* 容器高度也设置为视口高度的90% */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 创建三列，每列占据相等的空间 */
  grid-template-rows: 1fr 1fr 1fr; /* 创建三行，每行占据相等的空间 */
  grid-gap: 10px; /* 设置网格间隙，可根据需要调整 */
}

#alice1, #alice2, #alice3 {
  width: 100%; /* 图片宽度设置为100%，以填充网格区域 */
  height: 100%; /* 图片高度设置为100%，以填充网格区域 */
  object-fit: cover; /* 覆盖整个网格区域，可能会裁剪图片 */
}

#alice1 {
  grid-column: 1 / 2; /* 从第一列开始，跨越到第二列 */
  grid-row: 1 / 2; /* 从第一行开始，跨越到第二行 */
}

#alice2 {
  grid-column: 2 / 3; /* 从第二列开始，跨越到第三列 */
  grid-row: 2 / 3; /* 从第二行开始，跨越到第三行 */
}

#alice3 {
  grid-column: 3 / 4; /* 从第三列开始，跨越到第四列 */
  grid-row: 3 / 4; /* 从第三行开始，跨越到第四行 */
}
